include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include wg_lms *.css
recursive-include wg_lms *.csv
recursive-include wg_lms *.html
recursive-include wg_lms *.ico
recursive-include wg_lms *.js
recursive-include wg_lms *.json
recursive-include wg_lms *.md
recursive-include wg_lms *.png
recursive-include wg_lms *.py
recursive-include wg_lms *.svg
recursive-include wg_lms *.txt
recursive-exclude wg_lms *.pyc
